<template>
  <section class="section-feature mt-3">
    <div class="feature-wrapper">
      <div class="box">
        <img src="@/assets/img/icon/accessories.png" alt="" />
      </div>
      <span>Accessories</span>
    </div>
    <div class="feature-wrapper">
      <div class="box">
        <img src="@/assets/img/icon/genuine-oil.png" alt="" />
      </div>
      <span>Genuine Oil</span>
    </div>
    <div class="feature-wrapper">
      <div class="box">
        <img src="@/assets/img/icon/SARP.png" alt="" />
      </div>
      <span>SARP</span>
    </div>
    <div class="feature-wrapper">
      <div class="box">
        <img src="@/assets/img/icon/manual-order.png" alt="" />
      </div>
      <span>Manual Order</span>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style >
.section-feature {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 7px;
  text-align: center;
  margin: 10px 0;
}

.section-feature .feature-wrapper .box {
  background-color: #2572b5;
  border-radius: 12px;
  padding: 10px;
}

.section-feature .feature-wrapper span {
  color: #fff;
  font-size: 10px;
  letter-spacing: -0.333333px;
  font-weight: normal;
  line-height: 12px;
}
</style>