<template>
  <section class="section-genuine-parts">
    <h5 class="text-white text-center">Genuine Parts</h5>
    <div class="grid-3">
      <div class="box">
        <p>Motocycle</p>
        <img
          src="@/assets/img/icon/icon-motocycle.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="box">
        <p>Automobile</p>
        <img
          src="@/assets/img/icon/icon-automobile.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="box">
        <p>Marine</p>
        <img src="@/assets/img/icon/icon-marine.png" class="img-fluid" alt="" />
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style >
.section-genuine-parts .grid-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;
  text-align: center;
  margin: 10px 0;
}
.section-genuine-parts .box {
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(10, 2, 26, 0.15);
  border-radius: 8px;
  width: 100%;
  height: 80%;
  transition: 0.3s;
}
.section-genuine-parts .box:hover {
  box-shadow: 0px 0px 24px rgba(10, 2, 26, 0.5);
}
.section-genuine-parts .box p {
  font-size: 12px;
  color: #005aa9;
  font-weight: 500;
  margin-top: 0.5rem;
}
</style>