<template>
  <section class="section-hero">
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide>
        <img
          src="@/assets/img/hero/hero1.png"
          alt="hero"
          class="img-fluid rounded"
        />
      </swiper-slide>

      <swiper-slide>
        <img
          src="@/assets/img/hero/hero2.jpg"
          alt="hero"
          class="img-fluid rounded"
        />
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/swiper-bundle.min.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: "auto",
        loop: true,
        spaceBetween: 30,
        autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
      },
    };
  },
};
</script>

<style >
</style>