<template>
  <div class="rightNav">
    <a href=""><img src="@/assets/img/navbar/comment.png" /></a>
    <a href=""><i class="bi bi-heart"></i></a>
    <a href=""><i class="bi bi-cart"></i></a>
  </div>
</template>

<script>
export default {};
</script>

<style>
.rightNav {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: 24px;
  align-content: space-evenly;
  margin-left: 0.5rem;
  text-align: center;
}
.rightNav img {
  width: 20px;
}
.rightNav i {
  color: #fff;
}
</style>