<template>
  <section class="section-product-slide">
    <div class="d-flex justify-content-between my-3">
      <span class="haloName">Untuk Kamu</span>
      <span><router-link to="/product">Lihat Semua </router-link></span>
    </div>
    <swiper class="swiper pb-5" :options="swiperOption">
      <swiper-slide>
        <div class="card">
          <img
            src="@/assets/img/content/1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Kedudukan kunci jok..</h5>
            <p class="card-text">Rp. 26.000</p>
            <a href="#" class="btn btn-add">Tambah</a>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <img
            src="@/assets/img/content/2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Rumah Kampas Kopling</h5>
            <p class="card-text">Rp. 26.000</p>
            <a href="#" class="btn btn-add">Tambah</a>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <img
            src="@/assets/img/content/3.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Spull Assy Satria 2Tak</h5>
            <p class="card-text">Rp. 26.000</p>
            <a href="#" class="btn btn-add">Tambah</a>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/swiper-bundle.min.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      swiperOption: {
        loop: true,
        slidesPerView: 3,
        spaceBetween: 15,
        freeMode: true,
        autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      },
    };
  },
};
</script>

<style>
.section-product-slide .haloName {
  color: #2e3e5c;
  font-weight: 500;
}
.section-product-slide .haloName {
  font-size: 12px;
}
.section-product-slide span > a {
  font-size: 10px;
  border-radius: 2px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
  background: #f5f5f526;
  padding: 0.1rem 1rem;
  text-decoration: none;
  color: #005aa9;
}
.section-product-slide span > a > img {
  margin-top: -2px;
}
.section-product-slide .grid-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;
  margin: 10px 0;
}
.section-product-slide .card {
  border: 0;
  box-shadow: 0px 0px 15px rgba(10, 2, 26, 0.15);
  border-radius: 8px;
}

.section-product-slide .card .card-body {
  padding: 0.5rem;
}

.section-product-slide .card .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 8px;
}
.section-product-slide .card .card-text {
  font-size: 8px;
}
.section-product-slide .card .btn-add {
  background-color: #005aa9;
  color: #fff;
  padding: 2px 5px;
  display: block;
  font-size: 8px;
}
</style>