<template>
  <section class="section-product-list">
    <h6 class="mt-5 mb-3">Product</h6>
    <div class="grid-3">
      <div class="card" v-for="item in products" :key="item.UNIQ_CODE">
        <img src="@/assets/img/content/1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.NAME_PRODUCT }}</h5>
          <p class="card-text">Rp. {{ item.PRICE }}</p>
          <a href="#" class="btn btn-add">Tambah</a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/swiper-bundle.min.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      per_page: 9,
      swiperOption: {
        loop: true,
        slidesPerView: 3,
        spaceBetween: 15,
        freeMode: true,
        autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      },
      products: [
        {
          NAME_PRODUCT: "product 1",
          PRICE: 50000,
        },
        {
          NAME_PRODUCT: "product 2",
          PRICE: 50000,
        },
        {
          NAME_PRODUCT: "product 3",
          PRICE: 50000,
        },
        {
          NAME_PRODUCT: "product 4",
          PRICE: 50000,
        },
        {
          NAME_PRODUCT: "product 5",
          PRICE: 50000,
        },
        {
          NAME_PRODUCT: "product 6",
          PRICE: 50000,
        },
      ],
    };
  },
  mounted() {
    fetch(
      "https://api.temanmusisi.com/api/product/?per_page=" + this.per_page
    ).then(async (response) => {
      const data = await response.json();
      console.log("data", data.data);
      this.products = data.data;
    });
  },
};
</script>

<style>
.section-product-list h6 {
  color: #2e3e5c;
  font-weight: 500;
}
.section-product-list .grid-3 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;
  margin: 10px 0;
}
.section-product-list .haloName {
  color: #2e3e5c;
  font-weight: 500;
}
.section-product-list .haloName {
  font-size: 12px;
}
.section-product-list span > a {
  font-size: 10px;
  border-radius: 2px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
  background: #f5f5f526;
  padding: 0.1rem 1rem;
  text-decoration: none;
  color: #005aa9;
}
.section-product-list span > a > img {
  margin-top: -2px;
}

.section-product-list .card {
  border: 0;
  box-shadow: 0px 0px 15px rgba(10, 2, 26, 0.15);
  border-radius: 8px;
  height: 100%;
}

.section-product-list .card .card-body {
  padding: 0.5rem;
}

.section-product-list .card .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 8px;
}
.section-product-list .card .card-text {
  font-size: 8px;
}
.section-product-list .card .btn-add {
  background-color: #005aa9;
  color: #fff;
  padding: 2px 5px;
  display: block;
  font-size: 8px;
}
</style>