<template>
  <div class="d-flex justify-content-between my-3 profile-pts">
    <span class="haloName">Halo, Ujang</span>
    <span
      ><a href=""
        >Silver, 100pts <img src="@/assets/img/icon/coin.png" alt="coin" /></a
    ></span>
  </div>
</template>

<script>
export default {};
</script>

<style>
.profile-pts .haloName,
.profile-pts span > a {
  color: #fff;
}
.profile-pts .haloName {
  font-size: 12px;
}
.profile-pts span > a {
  font-size: 10px;
  border-radius: 2px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
  background: #f5f5f526;
  padding: 0.1rem 1rem;
  text-decoration: none;
}
.profile-pts span > a > img {
  margin-top: -2px;
}
</style>