<template>
  <div class="leftNav">
    <form action="">
      <div class="form-group form-search">
        <span class="bi bi-search form-control-icon"></span>
        <input type="search" class="form-control" placeholder="Search" />
      </div>
    </form>
  </div>
</template>


<script>
export default {};
</script>

<style>
.form-search .form-control {
  padding-left: 2.375rem;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
  background: #f5f5f526;
  border: 0;
  border-radius: 8px;
}

.form-search .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #fff;
}
input[type="search"].form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}
.form-search .form-control:focus {
  box-shadow: none;
}
</style>