<template>
  <div class="container-fluid">
    <nav class="Header">
      <Search />
      <IconNavbar />
    </nav>
  </div>
</template>

<script>
// import Search from "@/components/Widget/Search.vue";
import Search from "../widget/Search.vue";
import IconNavbar from "../widget/IconNavbar.vue";

export default {
  components: {
    Search,
    IconNavbar,
  },
};
</script>

<style>
.Header {
  display: flex;
}
</style>

