<template>
  <section class="blueWrapper">
    <Header />
    <div class="container-fluid">
      <ProfilePts />
      <Hero />
      <Feature />
      <div class="line-white"></div>
      <GenuineParts />
      <div class="line-blue"></div>
      <ProductSlide />
    </div>
  </section>
</template>

<script>
// import Header from "@/components/Include/Header.vue";
import Header from "../components/Include/Header.vue";
import ProfilePts from "../components/widget/Profile-Pts.vue";
import Hero from "../components/widget/Hero.vue";
import Feature from "../components/widget/Feature.vue";
import GenuineParts from "../components/widget/Genuine-Parts.vue";
import ProductSlide from "../components/widget/Product-Slide.vue";

export default {
  name: "Home",
  components: {
    Header,
    ProfilePts,
    Hero,
    Feature,
    GenuineParts,
    ProductSlide,
  },
};
</script>

<style>
.blueWrapper {
  background-color: #005aa9;

  height: 70vh;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  padding-top: 25px;
  position: relative;
  width: 100%;
}
.line-white {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -2.22%,
    rgba(255, 255, 255, 0.28102) 16.32%,
    rgba(255, 255, 255, 0.28102) 85.02%,
    rgba(255, 255, 255, 0) 102.46%
  );
  margin: 1.5rem 0;
}
.line-blue {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 90, 169, 0) 0,
    #005aa9 52.6%,
    rgba(0, 90, 169, 0) 100%
  );
  margin: 1.5rem 0;
}
</style>
