<template>
  <section class="section-product">
    <Header />
    <div class="container-fluid">
      <ProductList />
    </div>
  </section>
</template>

<script>
import Header from "../components/Include/Header.vue";
import ProductList from "../components/widget/Product-List.vue";

export default {
  name: "Home",
  components: {
    Header,
    ProductList,
  },
};
</script>

<style>
.section-product {
  height: 15vh;
  background-color: #005aa9;
  border-radius: 0 0 25% 25%;
  padding-top: 25px;
}
.line-white {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -2.22%,
    rgba(255, 255, 255, 0.28102) 16.32%,
    rgba(255, 255, 255, 0.28102) 85.02%,
    rgba(255, 255, 255, 0) 102.46%
  );
  margin: 1.5rem 0;
}
.line-blue {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 90, 169, 0) 0,
    #005aa9 52.6%,
    rgba(0, 90, 169, 0) 100%
  );
  margin: 1.5rem 0;
}
</style>
